@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Montserrat:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
}

h1{
    font-family: 'Josefin Sans', sans-serif; 
}
header, nav, h2, footer{
    font-family: 'Montserrat', sans-serif;
}
header, main, nav, footer{
    padding:0 17vw ;
}
 /*Header*/
 header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #275220; 
    color: #FFFFFF; 
    height: 8vh;
}
header p{
    font-weight:75 ;
}
/*Nav*/
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FFFFFF ;
    height:25vh ;
}
nav a{
    font-weight:36 ;
    color:#275220 ;
}
 /*Main*/
 main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #CC9657;
    color: #FFFFFF;
    height: 52vh;
   
}
/*Main*/
       
main hgroup{
    font-weight: 20; 
    font-size:100;
    display: flex;
    flex-direction: column;
    justify-content: left;
   
}
h1{
    font-family: 'Josefin Sans', sans-serif; 
}
 /*Footer*/
 footer{
    display: flex;
    justify-content:center ;
    align-items: center;
    background-color:#275220;
    color:#FFFFFF ;
    height: 15vh;
    
}
footer a{
    color:#FFFFFF ;
} 
footer address, footer a{
    font-weight:36 ;   
    font-style:sans-serif ;
}